<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Culture Calls</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../styles.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<!-- BAGGRUND FARVE -->
<body style="font-family: 'Calibri Light',serif; background-color: #ebf4f0" onload="widthCheck();">

<!-- Navigation-->

<!-- mobile nav -->
<nav class="navbar navbar-expand navbar-light navbar-bg" id="navbar" style="height: 10%; background-color:#dff9ed";>


  <ul class="navbar-nav align-items-center mx-auto container" style="font-size: 5vw;">

    <li class="nav-item">
      <!-- brug active for at highlighte den side man er inde på-->
      <a class="nav-link" href="/">udforsk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">søg</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/favorites">
        <img src="../assets/heart-outline.png" class="img-fluid" style="height: 5vw" alt="">
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/profile">min profil</a>
    </li>

    <!-- dropdown -->
    <li class="nav-item dropdown" hidden>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">
        More
      </a>
    </li>
  </ul>

</nav>

<!-- pc navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="font-size: larger">
    <ul class="navbar-nav mr-auto">
      <li class="container-fluid">

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Udforsk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Søg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorites">Favoritter</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Page Content-->
<!--
<div class="container" style="padding-top: 5%">

    <div class="row text-center" id="card" >

        <img src="../assets/Culture-Calls-logo-banner-03w.png" alt="" width=100%>

    </div>
</div>
-->
<div class="container">
  <div class="col-lg-10">
    <div class="jumbotron"><img src="../assets/Culture-Calls-logo-banner-03w.png" alt="" width=100%>
    </div>
  </div>
  <div class="col-lg-2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown mr-auto">

        <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
          <img src="../assets/dropdown.png" style="height: 25px; color: #707071">
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li><a class="dropdown-item" href="#">Log ind</a></li>
          <li><a class="dropdown-item" href="#">Opret konto</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/about">Om os</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<br><br>

<div class="container-fluid">
    <h1 class="display-3">Culture Calls</h1>
    <br>

    <p class="lead">
      Culture Calls er en platform, som samler kulturens tilbud og forbinder dens udbydere med
      forbrugerne, når de resterende ledige billetter sælges billigt på forestillingsdagen.
      <br><br>
      Culture Calls gør det nemmere at opsøge kunsten og kulturen.
      Vi ønsker at bidrage til et stærkt kulturliv og en tilgængelig kunstscene, og vi tror på,
      at aktiv beskæftigelse med kunst og kultur er med til at skabe kritiske refleksioner, et
      intellektuelt udsyn samt selvindsigt hos befolkningen.
      <br><br>
      Derfor skal alle, uanset social og økonomisk baggrund, have muligheden for at tage del og
      finde fællesskab i den danske kulturelle skat.
    </p>
    <br><br>
    <p>
      <strong>Følg os på Instagram:</strong>
      <a href="http://instagram.com/culturecallscph" class="instagram" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <br>
      <strong>Send os en mail:</strong> <a style=" text-decoration: none; color: black" href="mailto: culturecallscph@gmail.com">culturecallscph@gmail.com</a>
    </p>

</div>

  <!-- Footer-->
<!--  <div id="footer" class="py-5 bg-light"></div>-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
  function myFunction() {
    const dots = document.getElementById("dots");
    const moreText = document.getElementById("more");
    const btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Vis mere";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Vis mindre";
      moreText.style.display = "inline";
    }
  }
  document.querySelectorAll(".showmore").forEach(function (p) {
    p.querySelector("a").addEventListener("click", function () {
      p.classList.toggle("show");
      this.textContent = p.classList.contains("show") ? "Vis mindre" : "Vis mere";
    });
  });

</script>
<script src="../js/navbar.js"></script>

</body>
</html>
