<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Opret nyt event</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="styles.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>

<!-- BAGGRUND FARVE -->
<body style="font-family: 'Calibri Light',serif; background-color: #ebf4f0" onload="widthCheck();">

<!-- Navigation-->
<div class="container" style="background-color: #ebf4f0">
  <!-- mobile nav -->
  <nav class="navbar navbar-expand navbar-light navbar-bg" id="navbar" style="height: 10%; background-color:#ebf4f0">

    <ul class="navbar-nav align-items-center mx-auto container" style="font-size: 5vw;">

      <li class="nav-item">
        <a class="nav-link" href="/">udforsk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">søg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/favorites">
          <img src="../assets/heart-outline.png" class="img-fluid" style="height: 5vw" alt="">
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profile">min profil</a>
      </li>

      <!-- dropdown -->
      <li class="nav-item dropdown" hidden>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          More
        </a>
      </li>
    </ul>

  </nav>

  <!-- pc navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="height: 10%; background-color:#ebf4f0">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="font-size: larger">
      <ul class="navbar-nav mr-auto">
        <li class="container-fluid">

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Udforsk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Søg</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favoritter</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-2">
      <ul class="navbar-nav ml-auto" style="float: right">
        <li class="nav-item dropdown mr-auto">

          <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <img src="../assets/dropdown.png" alt="" style="height: 25px; color: #707071">
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">Log ind</a></li>
            <li><a class="dropdown-item" href="#">Opret konto</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/about">Om os</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="col-lg-10">
      <div class="jumbotron"><a href="/"><img src="../assets/Culture-Calls-logo-banner-03w.png" alt="" width=100%>
      </a></div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-10 col-sm">
      <h1>Opret nyt event</h1>
      <form>
        <div class="mb-3">
          <label for="eventname" class="form-label">Titel</label>
          <input class="form-control" required id="eventname">
        </div>
        <div class="mb-3">
          <label for="eventprice" class="form-label">Pris</label>
          <input class="form-control" required id="eventprice">
        </div>
        <div class="mb-3">
          <label for="eventtickets" class="form-label">Resterende billetter</label>
          <input class="form-control" required id="eventtickets">
        </div>
        <div class="mb-3">
          <label for="locDrop" class="form-label">Sted</label>
          <select class="form-control" required id="locDrop"></select>
        </div>
        <div class="mb-3">
          <label for="catDrop" class="form-label">Kategori</label>
          <select class="form-control" required id="catDrop"></select>
        </div>
        <div class="mb-3">
          <label for="eventtime" class="form-label">Klokken</label>
          <input type="time" class="form-control" required id="eventtime">
        </div>
        <div class="mb-3">
          <label for="eventDate" class="form-label">Dato</label><br>
          <input type="date" min="2021-06-01" max="2099-01-01" required  id="eventDate"><br>
        </div>
        <button type="button" class="btn" id="add-event">Opret</button>
      </form>
      <p id="err" style="color: red"></p>
    </div>
  </div>
</div>
<div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  let eventString;

  $(document).ready(function () {
    $.ajax({
      url: "http://3.227.254.206:8090/categories",
      success: function (result) {
        let options = " ";
        $.each(result, function (key, val) {
          options += "<option>" + val['catName']
        });
        eventString = $("#catDrop");
        $(eventString).html(options)
      }
    });
  })

  $(document).ready(function () {
    $.ajax({
      url: "http://3.227.254.206:8090/locations",
      success: function (result) {
        let options = " ";
        $.each(result, function (key, val) {
          options += "<option>" + val['locName']
        });
        eventString = $("#locDrop");
        $(eventString).html(options)
      }
    });
  })



  $(function () {
    $('#add-event').on('click', function () {
      let dataString = {
        evtName: $('#eventname').val(),
        evtDate: $('#eventDate').val(),
        evtTime: $('#eventtime').val(),
        evtPrice: $('#eventprice').val(),
        evtLocation: {
          locId: $("#locDrop").get(0).selectedIndex
        },
        evtTickets: $('#eventtickets').val(),
        evtCategory: {
          catId: $("#catDrop").get(0).selectedIndex
        }
      }

      function maxCheck(x, y) {
        if (x <= y) {
          return x + 1;
        }
      }

      eventString = maxCheck(dataString.evtLocation.locId, 5)
      console.log(dataString.evtLocation.locId= eventString)
      eventString = maxCheck(dataString.evtCategory.catId, 6)

      console.log(dataString.evtCategory.catId= eventString)

      console.log(dataString);
      $.ajax({
        type: 'POST',
        url: 'http://3.227.254.206:8090/newevent',
        dataType: 'json',
        //stringify formatere den JSON data der skal sendes til datatyper der passer til java objekterne
        data: JSON.stringify(dataString),
        headers: {
          'Accept': 'application/json',
          'Content-type': 'application/json'
        },
        success: function (data) {
          alert('Event oprettet!')
          console.log(data);
        },
        error: function () {
          $('#err').html("Oops, something went wrong!")
        }
      })
    });
  });
</script>
<script src="../js/navbar.js"></script>
</body>
</html>