<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <link href="../styles.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!-- BAGGRUND FARVE -->
<body style="font-family: 'Calibri Light',serif; background-color: #ebf4f0" onload="widthCheck();">

<!-- Navigation-->

<!-- mobile nav -->
<nav class="navbar navbar-expand navbar-light navbar-bg" id="navbar" style="height: 10%; background-color:#dff9ed";>


    <ul class="navbar-nav align-items-center mx-auto container" style="font-size: 5vw;">

        <li class="nav-item">
            <!-- brug active for at highlighte den side man er inde på-->
            <a class="nav-link" href="/">udforsk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search">søg</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/favorites">
                <img src="../assets/heart-outline.png" class="img-fluid" style="height: 5vw" alt="">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/profile">min profil</a>
        </li>

        <!-- dropdown -->
        <li class="nav-item dropdown" hidden>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                More
            </a>
        </li>
    </ul>

</nav>

<!-- pc navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="font-size: larger">
        <ul class="navbar-nav mr-auto">
            <li class="container-fluid">

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Udforsk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Søg</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favorites">Favoritter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="col-lg-10">
        <div class="jumbotron"><img src="../assets/Culture-Calls-logo-banner-03w.png" alt="" width=100%>
        </div>
    </div>
    <div class="col-lg-2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-auto">

                <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                    <img src="../assets/dropdown.png" style="height: 25px; color: #dff9ed">
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="#">Log ind</a></li>
                    <li><a class="dropdown-item" href="#">Opret konto</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/about">Om os</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../js/navbar.js"></script>

<div id="login-error-msg-holder">
    <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
</div>

<form id="login-form" >
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
</form>

<script>

    const loginForm = document.getElementById("login-form");
    const loginButton = document.getElementById("login-form-submit");
    const loginErrorMsg = document.getElementById("login-error-msg");

    loginButton.addEventListener("click", (e) => {
        e.preventDefault();
        const username = loginForm.username.value;
        const password = loginForm.password.value;

        if (username === "user" && password === "user") {
            window.location.href = "http://3.227.254.206:8091/profile";

        }
        else if  (username === "admin" && password === "admin") {
            window.location.href = "http://3.227.254.206:8091";
        } else {
            loginErrorMsg.style.opacity = 1;
        }
    })
</script>
<!-- Footer-->
<div id="footer" class="py-5 bg-light" style="background-color: #ebf4f0"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossOrigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</body>
</html>