<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Culture Calls</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body onload="navBarLocation()">
        <!-- Navigation-->

        <!-- Page Content-->
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-light " id="navbar" style="height: 10%">
                <ul class="navbar-nav align-items-center m-auto container" style="font-size: 5.25vw;">

                    <li class="nav-item">
                        <!-- brug active for at highlighte den side man er inde på-->
                        <a class="nav-link active" href="index.html">Udforsk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.html">Søg</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="favorites.html">
                            <img src="../static/assets/heart-small.png" class="img-fluid" style="height: 5.25vw" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Min profil</a>
                    </li>

                    <!-- dropdown -->
                    <li class="nav-item dropdown" hidden>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">test</a></li>
                            <li><a class="dropdown-item" href="#">test2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">test3</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>
            <!-- Jumbotron Header-->
            <header class="jumbotron my-4">
                <h1 class="display-3">Intro??</h1>
                <p class="lead">Intro tekst?<br>søgefunktioner?</p>
            </header>
            <!-- Page Features-->
        <div class="row text-center">
          <div class="col-lg-3 col-md-6 mb-4">
           <div class="card h-100">
           <img class="card-img-top" src="../static/assets/folketeatret.jpeg" alt="..." />
            <div class="card-body">
                 <h4 class="card-title">The Robot Project</h4>
                <p class="showmore"> Flyvende Grise gæster Folketeatret under CPH Stage
                 . Kan kunstig intelligens (AI) lære at forstå menneskelige følelser og værdier?<span id="dots">...</span><span class="more">I den humoristisk og poetisk menneske-robot performance The Robot Project forsøger videnskabsmanden Daniel at genskabe sin døde bror Leonardo gennem en AI, som han udvikler
                 og træner med udgangspunkt i broderens minder og emotioner. Forestillingen har hentet inspiration hos flere af AI-feltets grundlæggere.
                 På scenen er virkelige robotter, kunstigt intelligente AI’er og ét levende menneske.
                 The Robot Project er en unik og tankevækkende oplevelse efterfulgt af en interaktiv og publikumsinddragende talk med
                 forsker Kristian Martiny omkring mulighederne og udfordringerne ved AI.</span>

                <a>Vis mere</a>
                </p>

            </div>
             <div class="card-footer"><a class="btn btn-primary" href="https://www.folketeatret.dk/shows/the-robot-project/">Gå til bestilling</a></div>
              </div>
              </div>




            <div class="col-lg-3 col-md-6 mb-4">
             <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/nørrebroteater.jpeg" alt="..." />
                 <div class="card-body">
                     <h4 class="card-title">En Folkefjende</h4>
                     <p class="showmore">ET UNDERHOLDENDE DRAMA OM SANDHED OG MAGT
                         Et underholdende og aktuelt drama med Søren Pilmark i front som lægen, der er villig til at ofre alt for sandheden.<span id="dots">...</span>
                         <span class="more">Vi er i en lille provinsby. Lægen Tomas Stockmann er for nylig blevet ansat ved kurbadet, byens stolthed og vigtigste indtægtskilde.
                             Det viser sig imidlertid, at flere gæster bliver syge efter et dyp i badesøen. Tomas finder ud af, at vandet er giftigt, men da han vil offentliggøre
                             sine opdagelser, får han hele byen på nakken; myndighederne, indbyggerne, ja selv sin egen søster, som sidder i byrådet. Men Tomas giver sig ikke.
                             Sandheden skal frem, koste hvad det vil.
                             Henrik Ibsens klassiker handler om noget så nutidigt som demokratiets skyggeside, mediernes magt og idealernes sammenstød med virkeligheden. Har flertallet altid ret? Hvor meget vil vi ofre for sandheden? Og hvor langt vi vil gå for fællesskabets bedste, hvis det går ud over os selv?
                             Oplev ni formidable skuespillere i en moderne, underholdende og højaktuel opsætning skabt i et samarbejde mellem Nørrebro Teater og Odense Teater.</span>


                         <a>Vis mere</a>
                     </p>
                 </div>
                 <div class="card-footer"><a class="btn btn-primary" href="https://www.nbt.dk/forestillinger/en-folkefjende/">Gå til bestilling</a></div>
             </div>
              </div>


            <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/teaterfår.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">Love is Enough</h4>
                            <p class="showmore">Kærlighed kan dræbe og gøre blind, men kan det stadig overvinde alt?<span id="dots">...</span>

                                <span class="more">Inspireret og provokeret af postulatet LOVE IS ENOUGH undersøger Birgitte Prins og Charlotte E. Munksgaard i to monologer temaet kærlighed. Mens Prins med sårbar stædighed og strategisk naivitet forsøger at forstå kærligheden ved at finde gemte og glemte svar hos bl.a. postulatets ophavsmand William Morris, så tester Munksgaard postulatet, når hun åbner for samtlige sluser og overøser gæsterne med en tsunami af overlevelsestricks for håbløse eksistenser.

                                LOVE IS ENOUGH #2 & 3 er ikke kun et eksistentielt værk om kærlighed, men også en aktuel kommentar til en samtid, hvor optimering, individualisme og konkurrence fylder mere og mere, og hvor de bløde værdier som kærlighed, empati, medmenneskelighed svinder ind i den offentlige debat. Denne magtbalance vendes på hovedet, når vi på Teater FÅR302  har bedt vores to faste skuespillere om udfra deres idiosynkratiske nysgerrighed, scenekunstneriske ståsted og spørgsmål til verden at tage temperaturen på kærligheden som en samfundsværdi.

                                De to monologer vises efter hinanden kun adskilt af en kortere pause. De er en del af en større nordisk performance-antologi, hvor en række nordiske kunstnere gennem hver deres personlige monologer giver deres kunstneriske svar på postulatet LOVE IS ENOUGH. Antologien er initieret af Andriana Seecker.

                                “Vi skal alle dø, hver og een, sikke et cirkus! Alene dét skulle få os til at elske hinanden. Men det gør det ikke. Vi er terroriseret og tromlet ned af trivialiteter, vi bliver ædt op af ingenting” Charles Bukowski.</span>
                                <a>Vis mere</a>
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.faar302.dk/forestilling/love-is-enough/">Gå til bestilling</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/bettynansenteatret.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">Stolthed og Fordom
                            </h4>
                            <p class="showmore">I en af litteraturens største romantiske klassikere møder den stærke og stolte Elizabeth Bennet den indadvendte og frygteligt tiltrækkende Mr. Darcy.
                                Fra første øjeblik er deres forhold turbulent.<span id="dots">...</span>

                                <span class="more">I tiden var en kvindes identitet ikke noget, udover den hun blev gift eller født ind i.
                                    Jane Austen og hendes heltinder måtte overholde de uskrevne regler – og lade alt det farlige, alt det spændende og
                                    alt det svære svæve mellem linjerne.
                                    Stolthed og Fordom er alle tiders store kærlighedsroman om to stædige og stolte personligheder, der kæmper både for og imod
                                    at overgive sig til kærligheden og hinanden.

                                MEDVIRKENDE Mathilde Arcel Fock, Morten Hee Andersen, Freja Klint Sandberg, Mathias Bøgelund, Nanna Skaarup Voss

                                MANUSKRIPT Jane Austen
                                INSTRUKTØR Anna Balslev
                                SCENOGRAF Laura Løwe
                                MUSIKER Viktor Dahl

                                Tak til Bakkehuset, Frederiksbergmuseerne for at bidrage med den helt rette 1800-tals stemning til vores forestillingsfotos
                                Forestillingen er skabt som en del af en samlet proces kaldet BETTY UDVIKLER i samarbejde med Bikubenfonden. Her udvikles forestillinger på tværs af kunstarterne over længere stræk med workshopforløb og kollektive tanker.  </span>
                                <a>Vis mere</a>
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.bettynansen.dk/da/forestillinger/stolthed-og-fordom/">Gå til bestilling</a></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content-->
        <div class="container">


            <!-- Page Features-->
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/folketeatret.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">The Robot Project</h4>
                            <p class="showmore"> Flyvende Grise gæster Folketeatret under CPH Stage
                                . Kan kunstig intelligens (AI) lære at forstå menneskelige følelser og værdier?<span id="dots">...</span><span class="more">I den humoristisk og poetisk menneske-robot performance The Robot Project forsøger videnskabsmanden Daniel at genskabe sin døde bror Leonardo gennem en AI, som han udvikler
                 og træner med udgangspunkt i broderens minder og emotioner. Forestillingen har hentet inspiration hos flere af AI-feltets grundlæggere.
                 På scenen er virkelige robotter, kunstigt intelligente AI’er og ét levende menneske.
                 The Robot Project er en unik og tankevækkende oplevelse efterfulgt af en interaktiv og publikumsinddragende talk med
                 forsker Kristian Martiny omkring mulighederne og udfordringerne ved AI.</span>

                                <a>Vis mere</a>
                            </p>

                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.folketeatret.dk/shows/the-robot-project/">Gå til bestilling</a></div>
                    </div>
                </div>




                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/nørrebroteater.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">En Folkefjende</h4>
                            <p class="showmore">ET UNDERHOLDENDE DRAMA OM SANDHED OG MAGT
                                Et underholdende og aktuelt drama med Søren Pilmark i front som lægen, der er villig til at ofre alt for sandheden.<span id="dots">...</span>
                                <span class="more">Vi er i en lille provinsby. Lægen Tomas Stockmann er for nylig blevet ansat ved kurbadet, byens stolthed og vigtigste indtægtskilde.
                             Det viser sig imidlertid, at flere gæster bliver syge efter et dyp i badesøen. Tomas finder ud af, at vandet er giftigt, men da han vil offentliggøre
                             sine opdagelser, får han hele byen på nakken; myndighederne, indbyggerne, ja selv sin egen søster, som sidder i byrådet. Men Tomas giver sig ikke.
                             Sandheden skal frem, koste hvad det vil.
                             Henrik Ibsens klassiker handler om noget så nutidigt som demokratiets skyggeside, mediernes magt og idealernes sammenstød med virkeligheden. Har flertallet altid ret? Hvor meget vil vi ofre for sandheden? Og hvor langt vi vil gå for fællesskabets bedste, hvis det går ud over os selv?
                             Oplev ni formidable skuespillere i en moderne, underholdende og højaktuel opsætning skabt i et samarbejde mellem Nørrebro Teater og Odense Teater.</span>


                                <a>Vis mere</a>
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.nbt.dk/forestillinger/en-folkefjende/">Gå til bestilling</a></div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/teaterfår.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">Love is Enough</h4>
                            <p class="showmore">Kærlighed kan dræbe og gøre blind, men kan det stadig overvinde alt?<span id="dots">...</span>

                                <span class="more">Inspireret og provokeret af postulatet LOVE IS ENOUGH undersøger Birgitte Prins og Charlotte E. Munksgaard i to monologer temaet kærlighed. Mens Prins med sårbar stædighed og strategisk naivitet forsøger at forstå kærligheden ved at finde gemte og glemte svar hos bl.a. postulatets ophavsmand William Morris, så tester Munksgaard postulatet, når hun åbner for samtlige sluser og overøser gæsterne med en tsunami af overlevelsestricks for håbløse eksistenser.

                                LOVE IS ENOUGH #2 & 3 er ikke kun et eksistentielt værk om kærlighed, men også en aktuel kommentar til en samtid, hvor optimering, individualisme og konkurrence fylder mere og mere, og hvor de bløde værdier som kærlighed, empati, medmenneskelighed svinder ind i den offentlige debat. Denne magtbalance vendes på hovedet, når vi på Teater FÅR302  har bedt vores to faste skuespillere om udfra deres idiosynkratiske nysgerrighed, scenekunstneriske ståsted og spørgsmål til verden at tage temperaturen på kærligheden som en samfundsværdi.

                                De to monologer vises efter hinanden kun adskilt af en kortere pause. De er en del af en større nordisk performance-antologi, hvor en række nordiske kunstnere gennem hver deres personlige monologer giver deres kunstneriske svar på postulatet LOVE IS ENOUGH. Antologien er initieret af Andriana Seecker.

                                “Vi skal alle dø, hver og een, sikke et cirkus! Alene dét skulle få os til at elske hinanden. Men det gør det ikke. Vi er terroriseret og tromlet ned af trivialiteter, vi bliver ædt op af ingenting” Charles Bukowski.</span>
                                <a>Vis mere</a>
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.faar302.dk/forestilling/love-is-enough/">Gå til bestilling</a></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="../static/assets/bettynansenteatret.jpeg" alt="..." />
                        <div class="card-body">
                            <h4 class="card-title">Stolthed og Fordom
                            </h4>
                            <p class="showmore">I en af litteraturens største romantiske klassikere møder den stærke og stolte Elizabeth Bennet den indadvendte og frygteligt tiltrækkende Mr. Darcy.
                                Fra første øjeblik er deres forhold turbulent.<span id="dots">...</span>

                                <span class="more">I tiden var en kvindes identitet ikke noget, udover den hun blev gift eller født ind i.
                                    Jane Austen og hendes heltinder måtte overholde de uskrevne regler – og lade alt det farlige, alt det spændende og
                                    alt det svære svæve mellem linjerne.
                                    Stolthed og Fordom er alle tiders store kærlighedsroman om to stædige og stolte personligheder, der kæmper både for og imod
                                    at overgive sig til kærligheden og hinanden.

                                MEDVIRKENDE Mathilde Arcel Fock, Morten Hee Andersen, Freja Klint Sandberg, Mathias Bøgelund, Nanna Skaarup Voss

                                MANUSKRIPT Jane Austen
                                INSTRUKTØR Anna Balslev
                                SCENOGRAF Laura Løwe
                                MUSIKER Viktor Dahl

                                Tak til Bakkehuset, Frederiksbergmuseerne for at bidrage med den helt rette 1800-tals stemning til vores forestillingsfotos
                                Forestillingen er skabt som en del af en samlet proces kaldet BETTY UDVIKLER i samarbejde med Bikubenfonden. Her udvikles forestillinger på tværs af kunstarterne over længere stræk med workshopforløb og kollektive tanker.  </span>
                                <a>Vis mere</a>
                            </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary" href="https://www.bettynansen.dk/da/forestillinger/stolthed-og-fordom/">Gå til bestilling</a></div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Culture Calls</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <script>
            function myFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");

                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Vis mere";
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Vis mindre";
                    moreText.style.display = "inline";
                }
            }
            document.querySelectorAll(".showmore").forEach(function (p) {
                p.querySelector("a").addEventListener("click", function () {
                    p.classList.toggle("show");
                    this.textContent = p.classList.contains("show") ? "Vis mindre" : "Vis mere";
                });
            });
            
            function navBarLocation() {
        let query = window.matchMedia("(min-width: 1024px)");

        if (query.matches) {
            document.getElementById('navbar').classList.add('sticky-top');

        } else {
            document.getElementById('navbar').classList.add('fixed-bottom');
        }
    }
        </script>
    </body>
</html>
