<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Culture Calls</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="../static/styles.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body style="font-family: 'Calibri Light',serif; background-color: #f5fbe2" onload="widthCheck();">

<!-- Navigation-->

<!-- mobile nav -->
<nav class="navbar navbar-expand navbar-light navbar-bg" id="navbar" style="height: 10%">

  <a class="nav-link instagram" href="https://instagram.com/culturecallscph" target="_blank">
    <br> <i class="fa fa-instagram" style="height: 5vw"></i>
  </a>

  <ul class="navbar-nav align-items-center mx-auto container" style="font-size: 5vw;">

    <li class="nav-item">
      <!-- brug active for at highlighte den side man er inde på-->
      <a class="nav-link" href="index.html">udforsk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="search.html">søg</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="favorites.html">
        <img src="../static/assets/heart-outline.png" class="img-fluid" style="height: 5vw" alt="">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">min profil</a>
    </li>

    <!-- dropdown -->
    <li class="nav-item dropdown" hidden>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">
        More
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">test</a></li>
        <li><a class="dropdown-item" href="#">test2</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">test3</a></li>
      </ul>
    </li>
  </ul>

</nav>

<!-- pc navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="font-size: larger">
    <ul class="navbar-nav mr-auto">
      <li class="container-fluid">

      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html">Udforsk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="search.html">Søg</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="favorites.html">Favoritter</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand" href="index.html">
      <img src="../static/assets/culture-calls-tra.png" alt="" style="height: 5vw">
    </a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" style="font-size: larger">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown mr-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
          <img src="../static/assets/dropdown.png" style="height: 25px; color: #707071">
        </a>
        <ul class="dropdown-menu float-right" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Log ind</a></li>
          <li><a class="dropdown-item" href="#">Opret konto</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Om os</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main">
  <div class="row">
    <br>

    <tbody style="text-align: left; color:darkgray">
    </tbody>

    </table>
  </div>
</div>


<div class="card-body">
  <div><iframe id="content" src="http://3.227.254.206:8090/shows/"></iframe>
  </div>
  <label for="fname">Fulde navn:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="fname">Antal billetter:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <button id="btn">Bekræft bestilling</button>


  <script>


    const btn = document.getElementById('btn');

    btn.addEventListener('click', () => {
      alert('Din bestilling er bekræftet');
    });

    btn.addEventListener('tap', () => {
      alert('Din bestilling er bekræftet');
    });

    </script>
  <script type="text/javascript">

    $(document).ready(function(content){
      $("#content").load("src","http://3.227.254.206:8090/shows/{id:1}");

    })

  </script>
</div>
</div>


</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/events.js"></script>
</body>
</html>