<!DOCTYPE html>
<html>
<body>

<h2>Send e-mail med din bestilling</h2>

<form action="mailto:culturecallscph@gmail.com" method="post" enctype="text/plain">
  Fulde navn:<br>
  <input type="text" name="name"><br>
  E-mail:<br>
  <input type="text" name="show"><br>
  Event:<br>
  <input type="text" name="tickets"><br>
  Antal billetter:<br>
  <input type="text" name="mail"><br>
  Evt. kommentarer:<br>
  <input type="text" name="comment" size="50"><br><br>
  <input type="submit" value="Send">
  <input type="reset" value="Reset">
</form>

</body>
</html>