<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body style="font-family: 'Calibri Light',serif; background-color: #f5fbe2" onload="widthCheck();">
<ul>
    <li class="active"><a tabindex="0" class="dropdown-item"><label class="text-wrap checkbox" title="Database" id="label"><input type="checkbox" id="myInput">Musik</label></a></li>
    <li class="active"><a tabindex="0" class="dropdown-item"><label class="text-wrap checkbox" title="Database"><input type="checkbox" value="93"> Database</label></a></li>
    <li class="active"><a tabindex="0" class="dropdown-item"><label class="text-wrap checkbox" title="Database"><input type="checkbox" value="93"> Database</label></a></li>
    <li class="active"><a tabindex="0" class="dropdown-item"><label class="text-wrap checkbox" title="Database"><input type="checkbox" value="93"> Database</label></a></li>
    <li class="active"><a tabindex="0" class="dropdown-item"><label class="text-wrap checkbox" title="Database"><input type="checkbox" value="93"> Database</label></a></li>

</ul>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<script>


    const labell = $("#label").text()
    document.getElementById('myInput').addEventListener("click", function () {
        if (document.getElementById('myInput')){

            filt.push(labell)
            console.log(filt)
        }

    })


    let arr = {
        "items": [

        {
            'title': 'show1',
            'cat': 'musik',
            'location' : 'loc1',
            'date': '30-5-2021',
            'price': '55'
        },
        {
            'title': 'show2',
            'cat': 'teater',
            'location' : 'loc2',
            'date': '30-6-2021',
            'price': '500'
        },
        {
            'title': 'show3',
            'cat': 'workshop',
            'location' : 'loc3',
            'date': '25-5-2021',
            'price': '95'
        },
        {
            'title': 'show4',
            'cat': 'stand up',
            'location' : 'loc4',
            'date': '30-1-2023',
            'price': '320'
        },
        {
            'title': 'show5',
            'cat': 'dans',
            'location' : 'loc5',
            'date': '22-5-2021',
            'price': '40'
        },
    ]}
    //
    // console.log(arr)
    //
    // arr.forEach(
    //         function (item){
    //           console.log(item.title)
    //         }
    // )


    const filt = ['musik', 'teater', 'workshop', 'stand up', 'dans']
    const returnedList = $.grep(arr.items, function (element) {
        return element.cat === filt[0] || element.cat === filt[3]
    })

    console.log(returnedList)
</script>
</body>
</html>